@model EducationalPlatform.Models.Document
@{
    ViewBag.Title2 = "Upload file";
}

<br />
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>@ViewBag.Title2</h1>
    </div>

    <div class="panel-body">
        @using (Html.BeginForm(actionName: "New", controllerName: "Document", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(false, null, new { @class = "text-danger" })

            <div class="form-group">
                @Html.Label("Title", "Title")
                @Html.TextBox("Title", null, new { @class = "form-control" })
                @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("File", "Upload PDF file")
                <input class="form-control" type="file" name="FileData" id="FileData" onchange="fileCheck(this);" />
            </div>

            @Html.Hidden("SectionId")

            <button class="btn btn-default" type="submit">Create</button>
        }
    </div>
</div>

@{
    ViewBag.Title = ViewBag.Title2;
}
